<!DOCTYPE html>
<html>
  <head>
    <title><%= param.title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= param.title %></h1>
    <p>EJS Welcome to <%= param.title %></p>
    <p>select from mysql id = <%= param.id %> name = <%= param.name %> </p>
  </body>
</html>
