<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= data.title %></h1>
    <p>EJS Welcome to <%= data.title %></p>
    <p>select from mysql id = <%= data.id %> name = <%= data.name %> </p>
  </body>
</html>
